<div class="container">

    <table class="table table-striped">
        <thead>
            <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Price</th>
            <th>Code</th>
            <th>Duration</th>
            <th>Rating</th>
            <th>Release Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                
            </tr>
        </tbody>
    </table>

</div>

<!--
<input [(ngModel)]='name' name="name">  Com parênteses muda/atualiza o que está dentro da '' | Sem parenteses não altera o valor do que está dentro da '' -->